body {
    background-color: gray;
    font-style: inherit;
    font-size: 120%;
    color: darkolivegreen;
}

h3 {
    border: 1px solid gray;
    text-align: center;
    margin: auto;
}

a {
    border: 1px solid gray;
    text-align: center;
    margin: auto;
    color: darkolivegreen;
}


p {
    text-align: center;
    margin: auto;
}

h1,
h2 {
    text-decoration: underline;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}


input {
    background-color: bisque;
    border-color: black;
    color: darkolivegreen;
}

textarea {
    padding: 25px;
    background-color: bisque;
    border: 1px solid black;
}

table {
    text-align: center;
    margin: auto;
}

#cajaPrincipal {
    border: 3px solid black;
    width: 700px;
    margin: auto;
}

.cajaIzq {
    background-color: gray;
    border: 1px solid gray;
    display: inline-block;
    border-right: 1px solid black;
    width: 340px;
}

.cajaDer {
    background-color: gray;
    border: 1px solid gray;
    display: inline-block;
    width: 340px;
}

.formulario {
    background-color: darkolivegreen;
    border: 1px solid black;
    text-align: center;
    border-top: 2px solid black;
    color: lightgray;
}

.borde {
    border: 1px solid black;
}

.imagen {
    text-align: center;
    background-color: gray;
    border:1px solid black ;
}