body {
    border: solid black 1px;
}

header {
    margin-top: 15px;
    text-align: center;
    background-color: lightgray;
    border: solid lightgreen 2px;
}


footer {
    margin-top: 15px;
    text-align: center;
    background-color: lightgreen;
    color: black;
}

.nombre {
    background-color: lightgreen;
}

.imagenPerfil {
    max-width: 20%;
    max-height: 20%;
    margin-bottom: 1px;
    margin-top: 5px;
    border: solid lightgreen 2px;
}

.logo {
    max-width: 5%;
    max-height: 5%;
}

.Encabezado1 {
    margin-top: 20px;
    text-align: center;
    background-color: lightgreen;
    font-size: 150%;
}

.Encabezado2 {
    text-align: center;
    font-size: 150%;
}

.Encabezado3 {
    text-align: center;
    background-color: lightgreen;
    font-size: 150%;
}

.center {
    text-align: center;
    background-color: lightgray;
}



.fondoColor {
    background-color: lightgreen;
}