body {
    border: solid lightgreen 5px;
}

header {
    margin-top: 15px;
    text-align: center;
}


footer {
    margin-top: 15px;
    text-align: center;
    background-color: lightgreen;
    color: black;
}

.nombreTitulo {
    margin-top: 50px; 
    font-size: 350%;
}

.presentacion {
    margin-top: 50px;
    text-align: center;
    background-color: lightgreen;
    border: solid black 2px;
}

.imagenPerfil {
    max-width: 70%;
    max-height: 70%;
    margin-top: 50px;
}

.logo {
    max-width: 15%;
    max-height: 15%;
}

.Encabezado1 {
    font-size: 120%;
}

.centerFormulario {
    text-align: center;
    background-color: lightgreen;
    border: solid black 2px;
    padding-bottom: 5px;
}