body {
    font-style: inherit;
    font-size: 120%;    
    color: darkolivegreen;
}

h3 {
    text-align: center;
    margin: auto;
}

footer{
    margin: auto;
    margin-top: 10px;
}

a {
    text-align: center;
    margin: auto;
    color: darkolivegreen;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

p {
    text-align: center;
    margin: auto;
}


h1,
h2 {
    text-decoration: underline;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
}


input {
    background-color: beige;
    border-color: black;
    color: darkolivegreen;
}

textarea {
    padding: 25px;
    background-color: beige;
    border: 1px solid black;
}

table {
    text-align: center;
    margin: auto;
}

#cajaPrincipal {
    height: 1200px;
    width: 1200px;
    margin: auto;
    background-color: lightgray;
}

#cajaSecundaria {
    border: 4px solid black;
    margin: auto;
    background-color: beige;
}
#cajaSecundaria2 {
    border: 4px solid black;
    margin: auto;
    margin-top: 10px;
    background-color: beige;
}

.cajaIzq {
    color: darkolivegreen;
    background-color: beige;
    display: inline-block;
    width: 580px;
    margin-bottom: 20px;
}

.cajaIzq2 {
    color: darkolivegreen;
    background-color: beige;
    display: inline-block;
    width: 580px;
    margin-top: 0;
    margin-bottom: 0px;
}

.cajaDer {
    background-color: beige;
    display: inline-block;
    width: 580px;
}

.formulario {
    background-color: darkolivegreen;
    border: 1px solid black;
    text-align: center;
    color: lightgray;
    width: 580px;
    display: inline-block;
    margin-bottom: 5px;
}

.borde {
    border: 3px solid darkolivegreen;
    padding: 10px;
}

.borde2 {
    border: 3px solid beige;
    padding: 10px;
}

.imagen {
    text-align: center;
    background-color: beige;
}