body {
    border: solid black 5px;
}

header {
    margin-top: 15px;
    text-align: center;
    background-image: url(Imagen/perspectiva-de-edificios-desde-arriba-arte-digital_3840x2160_xtrafondos.com.jpg);
    color: white;
}


footer {
    margin-top: 15px;
    text-align: center;
    background-image: url(Imagen/perspectiva-de-edificios-desde-arriba-arte-digital_3840x2160_xtrafondos.com.jpg);
    color: white;
}

.nombreTitulo {
    margin-top: 50px;
    font-size: 350%;
}

.presentacion {
    margin-top: 50px;
    text-align: center;
    color: white;
}

.imagenPerfil {
    max-width: 70%;
    max-height: 70%;
    margin-top: 50px;
}

.logo {
    max-width: 15%;
    max-height: 15%;
}

.Encabezado1 {
    font-size: 120%;
}

.centerFormulario {
    text-align: center;
    background-image: url(Imagen/perspectiva-de-edificios-desde-arriba-arte-digital_3840x2160_xtrafondos.com.jpg);
    border: solid black 2px;
    padding-bottom: 5px;
    color: white;
}

.boton {
    color: white;
    background-image: url(Imagen/perspectiva-de-edificios-desde-arriba-arte-digital_3840x2160_xtrafondos.com.jpg);
}