body {
    background-color: lightgray;
    font-style: oblique;
    font-size: 120%;
    color: darkolivegreen;
}

h3 {
    border: 1px solid lightgray;
    text-align: center;
    margin: auto;
}

a{
    border: 1px solid lightgray;
    text-align: center;
    margin: auto;
    color: darkolivegreen;
}


p{
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

h1,
h2 {
    text-decoration: underline;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}


input {
    background-color: bisque;
    border-color: lightblue;
    color: darkolivegreen;
}

textarea {
    padding: 40px;
    background-color: bisque;
}

table {
    text-align: center;
    margin: auto;
}

#cajaPrincipal {
    border: 3px solid black;
    width: 700px;
    margin: auto;
}

.imagen {
    text-align: center;
    background-image: url(Imagen/DSC_0008.jpg);
}

.cajaGris {
    background-color: lightgray;
    border: 1px solid lightgray;
    display: inline-block;
    width: 340px;
    margin: 0%;
}

.cajaBlanca {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-left: 1px solid black; ;
    display: inline-block;
    width: 340px;
    margin: 0%;
}

.formulario {
    background-color: darkolivegreen;
    border: 1px solid black;
    text-align: center;
    border-top: 2px solid black;
    color: lightgray;
}