header {
    background-color: bisque;
}

body {
    background-color: lightsteelblue;
    font-style: oblique;
    font-size: 120%;
    color: slategray;
}

footer {
    background-color: bisque;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

img {
    width: 150px;
    height: 150px;
}

table {
    margin: 15px;
    padding: 20px;
}

input {
    background-color: bisque;
    border-color: lightblue;
    color: slategray;
}

textarea {
    padding: 40px;
    background-color: bisque;
}

#contenedor {
    width: 770px;
    margin: auto;
}

.gris {
    background-color: lightgrey;
    border: 0.5px solid lightblue;
    text-align: center;
    float: left;
    width: 383px;
    height: 296px;
}

.blanco {
    background-color: bisque;
    border: 1px solid lightblue;
    text-align: center;
}

.formulario {
    background-color: lightgrey;
    border: 1px solid lightblue;
    text-align: center;
    padding: 40px;
}