header {
    background-color: dodgerblue;
}

body {
    background-color: lightsteelblue;
    text-align: center;
    border: 3px solid royalblue;
}

footer {
    background-color: dodgerblue;
}

h2 {
    text-decoration: underline;
}

img {
    width: 150px;
    height: 150px;
}

#contenedor {
    width: 770px;
    margin: 50px auto 0 auto;
    border: 2px solid black;
}

.contenedorSecundario{
    width: 780px;
    margin: 60px auto 0 auto;
}


.gris {
    background-color: darkgrey;
    border: 1px solid royalblue;
}

.celeste {
    background-color: lightblue;
    border: 1px solid royalblue;
}