body {
    font-size: 22px;
    text-align: center;
}

header {
    background-image: url(Imagen/perspectiva-de-edificios-desde-arriba-arte-digital_3840x2160_xtrafondos.com.jpg);
    color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}


footer {
    background-image: url(Imagen/perspectiva-de-edificios-desde-arriba-arte-digital_3840x2160_xtrafondos.com.jpg);
    color: white;
    clear: both;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#contenedor {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#formulario{
    background-image: url(Imagen/perspectiva-de-edificios-desde-arriba-arte-digital_3840x2160_xtrafondos.com.jpg);
    color: white;
    clear: both;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.contenedorSecundario {
    float: left;
    width: 580px;
    margin: 20px;
}

.lateral {
    float: left;
    width: 300px;
    margin: 20px 0px;
    padding: 20px;
}

.imagenPerfil {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.logo {
    max-width: 45px;
    max-height: 45px;
}
